<div class="w-1/4 mx-auto my-50 bg-red-100 rounded-md p-5" *ngIf="esNombreValido!==true">
  <div class="flex flex-col p-2 w-[80%] mx-auto">
    <label class="my-2 p-1 text-xl font-bold" for="name">Nombre</label>
    <input
      [(ngModel)]="nombre"
      class="text-center border-2 border-black rounded-md my-2 p-1 text-lg"
      type="text"
      placeholder="Escribe tu nombre"
    >
    <button
      (click)="validarNombre()"
      class="hover:cursor-pointer hover:bg-red-400 hover:text-white text-xl transition duration-300 text-center border-2 border-black rounded-md my-5 p-1 bg-red-300">
      Iniciar sesión
    </button>

    <p *ngIf="esNombreValido !== null" class="text-lg text-red-700 font-bold mt-2 text-center">
      {{ esNombreValido ? '✅ Nombre correcto' : 'Nombre incorrecto' }}
    </p>
  </div>
</div>
<div class="w-[80%] mx-auto my-10" *ngIf="esNombreValido">
  <div *ngIf="numPag==1" class="flex flex-col">
    <p class="text-2xl text-center w-[50%] mx-auto my-5">
      Yo no creía en las historias de amor hasta que conocí el lunar en tu ojo y esa sonrisa cautivadora. Amo cuando sacas
      tu lengua despues de que te digo que te amo o cuando me mandas fotos de tu outfit.
    </p>
    <div class="grid grid-cols-3 gap-4 mx-auto">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/6.jpg" alt="">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/10.jpg" alt="">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/11.jpg" alt="">
    </div>
  </div>

  <div *ngIf="numPag==2">
    <p class="text-2xl text-center w-[50%] mx-auto my-5">
      Conocí lo que es apasionarse en los gustos de alguien mas y compartir una parte de mi vida
      mientras conozco mundos nuevos a tu lado.
    </p>
    <div class="grid grid-cols-3 gap-4 mx-auto">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/3.jpg" alt="">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/4.jpg" alt="">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/2.jpg" alt="">
    </div>
  </div>
  <div *ngIf="numPag==3" class="justify-center flex flex-col">
    <p class="text-2xl text-center w-[50%] mx-auto my-5">
      Contigo estoy conociendo la felicidad por primera vez en mi vida y me encanta saber que aun nos queda mucho mas por conocer
    </p>
    <div class="grid grid-cols-3 gap-4 mx-auto">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/1.jpg" alt="">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/5.jpg" alt="">
      <img class="w-full h-120 object-cover rounded-lg transition duration-300 border-8 hover:cursor-pointer border-transparent hover:border-red-500" src="/7.jpg" alt="">
    </div>
    <button class="mx-auto hover:cursor-pointer hover:bg-red-400 text-white text-2xl transition duration-300 text-center rounded-md my-5 px-4 py-2 bg-red-300" *ngIf="!surpristeToggle" (click)="surprise()">CLICK PARA UNA SORPRESA</button>
    <p *ngIf="surpristeToggle" class="text-2xl text-center w-[50%] mx-auto my-5">
      ¿Me permitirias ser tu cita este 14 de febrero y todosssss los siguientes?
    </p>
  </div>
  <div class="flex flex-row items-center mx-auto justify-center my-10">
    <div (click)="sub()" class="mx-2 hover:cursor-pointer hover:underline transition duration-300 hover:text-red-500 text-lg">
      Anterior
    </div>
    <p class="rounded-md border-2 border-red-500 selection-none border-black px-4 py-2 text-red-500 text-lg font-bold">{{numPag}}</p>
    <div (click)="add()" class="mx-2 hover:cursor-pointer hover:underline transition duration-300 hover:text-red-500 text-lg">
      Siguiente
    </div>
  </div>


</div>
